<!DOCTYPE html>
<html>
<head><title>Articles Lab</title></head>
  <body>  

	<form action="/articles" method="POST">
	<h2>Enter your Title and Content here:</h2>
	<p>Article Title:  
        <input type="text" name="title"></p>
    <p>Article Content:
		<input type="text" name="content"></p>
	<br>
	<p><input type="submit" id="submit" content="submit"></p>		
    </form>
    
    </body>
</html>