<!DOCTYPE html>
<html>
<head><title>Sinatra-ar-crud-lab</title></head>
<body>  
        <h1>Article</h1>
    <div>
      <p>Article ID: <%= @article.id %></p>
      <p>Article title: <%= @article.title %></p>
      <p>Article Content: <%= @article.content %></p>
    </div>
    
    <form method="post" action="/articles/<%= @article.id %>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
    </form>
		
</body>
</html>